# Python Files
*.pyc
__pycache__/
*.pyo
*.pyd
.DS_Store


# Compiled Documents
*.pdf
*.ps

# venv and virtual environments
venv/
env/
.virtualenv/
.venv/

# database files
*.sqlite3
backend/db.sqlite3

# API key
backend/.env