/* Sidebar CSS */

.heading-line {
  opacity: .3;
}

/* mini calander */

  .mini-calander {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 450px;
    position: relative; 
    width: 100%;
    overflow: hidden;
  }

  .sx__calendar,
  .sx-react-calendar-wrapper {
    height: 100%;
    width: 100%;
    border: none !important;
    outline: none !important;
  }

  /* Mini Calendar for Smaller screens */
  @media (max-width: 2600px) {
    .sx__calendar,
    .sx-react-calendar-wrapper {
      font-size: 10px;
    }

    .sx__month-agenda-events {
      display: none;
    }
  }

  

  .sidebar-calendar-wrapper .sx__calendar-popover {
    position: absolute;
    z-index: 9999;
  }
/* End mini calander css */