/* Z-index directory */

  /* Classname - Index */

    /* Header - 5 */


/* End directory */


/* CSS Imports */


/* Inter font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&display=swap');


/* Full CSS */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Header CSS */

.Header {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  width: 100%;
  z-index: 5;
}

.Text-top_left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0 0 50px;
}

.Text-top_right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 50px 0 0;
}

.span-1_Comwrap {
  color: #FA1451;
}

/* AI button */

.Text-middle {
  width: 20vw;
  position: absolute;
  right: 5%;
  top: 0;
  margin-top: 10px;
}

.button-access-ai {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #4F8DF7;
  border: none;
  border-radius: 18px; 
  padding: 0 32px;
  height: 35px;
  min-width: 137px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; 
  margin: 10px 100px 0 0;
}

.button-access-ai p {
  text-align: right;
}

/* End AI button */


/* End Header CSS */



/* Main CSS */


.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


/* Sidebar CSS */

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 100vh;
    margin-top: 70px;
  }

  /* mini calander */

    .mini-calander {
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      margin: 50px 0 0 50px;
    }

    .main-mini-calander {
      display: grid;
      grid-template-columns: auto auto auto;
    }

    .days {
      font-weight: 200;
    }

    .span-days {
      font-weight: 500;
    }